{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

<div class="d-flex p-2 gap-3">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.imagePath }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="/products/{{ product.id }}" class="btn btn-primary">More Information</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
