{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{product.title}}</h1>
    <img class="card-img-top" src="{{ product.imagePath }}" alt="Card image cap">
    <p class="card-text">{{ product.description }}</p>
</div>
{% endblock %}
